@{
	Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<img src="~/assets_2/img/home/hero-banner4.jpg" alt="Login Background" class="img-cover" />

					<div class="hover loginn">
						<h4>Bạn đã có tài khoản</h4>
						<a class="button button-account" href="/Auth/Login">Đăng nhập ngay</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner register_form_inner">
					<h3>Đăng ký tài khoản</h3>
					<form class="row login_form" asp-action="" method="post" id="register_form">
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="name" name="name" placeholder="Họ tên" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Họ tên'">
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="password" name="password" placeholder="Mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mật khẩu'">
						</div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Xác nhận mật khẩu'">
						</div>
						

						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="button button-register w-100">Đăng ký</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->
<style>
	.img-cover {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	.loginn {
		position: relative; /* Đảm bảo hover có thể định vị */
		z-index: 1; /* Đặt z-index cao hơn để nằm trên hình ảnh */
		margin-top: -200px; /* Dịch div hover xuống 30px */
	}

</style>