<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aroma Shop - Order Tracking</title>
    <link rel="icon" href="~/assets_2/img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="~/assets_2/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets_2/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets_2/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/assets_2/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/assets_2/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets_2/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets_2/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="~/assets_2/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="~/assets_2/css/style.css">
</head>
<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="/Home"><img src="~/assets_2/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item active"><a class="nav-link" href="/Home">Trang chủ</a></li>
                            <li class="nav-item  ">
                                <a href="/Home/ProductsShop" class="nav-link " role="button" aria-haspopup="true" aria-expanded="false">Cửa Hàng</a>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="/Home/ProductsShop" class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                            </li>
                            <li class="nav-item  submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                        </ul>

                        <ul class="nav-shop">
                            <li class="nav-item"><button><i class="ti-search"></i></button></li>
                            <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
                            <li class="nav-item"><a class="button button-header" href="/Home/ProductsShop">Mua Ngay</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <main class="site-main">
        <!--================ Hero banner start =================-->
        <section class="hero-banner">
            <div class="container">
                <div class="row no-gutters align-items-center pt-60px">
                    <div class="col-5 d-none d-sm-block">
                        <div class="hero-banner__img">
                            <img class="img-fluid" src="~/assets_2/img/home/hero-banner4.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                        <div class="hero-banner__content">
                            <h4>MQDD SHOESHOP</h4>
                            <h1>Nâng tầm phong cách, tự tin sải bước</h1>
                            <p>Chọn giày, chọn phong cách tại MQDD SHOESHOP</p>
                            <a class="button button-hero" href="/Home/ProductsShop">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Hero banner start =================-->
        <!--================ Hero Carousel start =================-->
        <section class="section-margin mt-0">
            <div class="owl-carousel owl-theme hero-carousel">
                <div class="hero-carousel__slide">
                    <img src="~/assets_2/img/home/hero-slide1.png" alt="" class="img-fluid">
                    <a href="#" class="hero-carousel__slideOverlay">
                        <h3>Nike</h3>
                        <p>Mua ngay</p>
                    </a>
                </div>
                <div class="hero-carousel__slide">
                    <img src="~/assets_2/img/home/hero-slide2.png" alt="" class="img-fluid">
                    <a href="#" class="hero-carousel__slideOverlay">
                        <h3>Adidas</h3>
                        <p>Mua ngay</p>
                    </a>
                </div>
                <div class="hero-carousel__slide">
                    <img src="~/assets_2/img/home/hero-slide33.png" alt="" class="img-fluid">
                    <a href="#" class="hero-carousel__slideOverlay">
                        <h3>New Balance</h3>
                        <p>Mua ngay</p>
                    </a>
                </div>
            </div>
        </section>
        <!--================ Hero Carousel end =================-->
        <!-- ================ trending product section start ================= -->
        @RenderBody()
    <!--================End  =================-->
    </main>
    <!--================ Start footer Area  =================-->
    <footer>
        <div class="footer-area footer-only">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets ">
                            <h4 class="footer_title large_title">Our Mission</h4>
                            <p>
                                So seed seed green that winged cattle in. Gathering thing made fly you're no
                                divided deep moved us lan Gathering thing us land years living.
                            </p>
                            <p>
                                So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Quick Links</h4>
                            <ul class="list">
                                <li><a href="#">Trang chủ</a></li>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Product</a></li>
                                <li><a href="#">Brand</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h4 class="footer_title">Gallery</h4>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="~/assets_2/img/gallery/r1.jpg" alt=""></li>
                                <li><img src="~/assets_2/img/gallery/r2.jpg" alt=""></li>
                                <li><img src="~/assets_2/img/gallery/r3.jpg" alt=""></li>
                                <li><img src="~/assets_2/img/gallery/r5.jpg" alt=""></li>
                                <li><img src="~/assets_2/img/gallery/r7.jpg" alt=""></li>
                                <li><img src="~/assets_2/img/gallery/r8.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Contact Us</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span>
                                    Head Office
                                </p>
                                <p>123, Main Street, Your City</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span>
                                    Phone Number
                                </p>
                                <p>
                                    +123 456 7890 <br>
                                    +123 456 7890
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span>
                                    Email
                                </p>
                                <p>
                                    free@infoexample.com <br>
                                    www.infoexample.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->


    <style>
        .card-product__title {
            height: 48px; /* Cố định chiều cao, điều chỉnh theo thiết kế */
            overflow: hidden; /* Ẩn nội dung thừa */
            line-height: 24px; /* Chiều cao dòng, phù hợp với height */
        }
    </style>
    <script src="~/assets_2/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/assets_2/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/assets_2/vendors/skrollr.min.js"></script>
    <script src="~/assets_2/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets_2/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/assets_2/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets_2/vendors/mail-script.js"></script>
    <script src="~/assets_2/js/main.js"></script>
</body>
</html>
